/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; /* Indie Flower */;} 

body { 
    font-size: 18px; 
    line-height: 35px;
    color: darkorange; /* #FFAB00 */;
    background-color: gray;
    font-family: 'Syncopate', sans-serif;
    margin: 0%;
    padding: 5vw;
    
}
#top {text-shadow: 3px 3px 5px black;}
#portal{text-shadow: 3px 3px 5px black;}
h1 {
    font-size: 18px/* x.xrem  (rem is a unit of measure) */;
    color: Red;/* #B27800 */;
    text-align: center;
    padding-bottom: 4%;
    padding-top: 4%
}

main {
    font-size: 12px/* x.xrem */;
     margin: 0; padding: 0;
}

ul {list-style-type: none; letter-spacing: 2px;}


main figure.myphoto { width: 30%; margin: 0 0 0 2%;}
nav ul li b a:hover {background-color: rgba(255,255,255,0.3);}
main figure.myphoto img {width: 96%; height: auto;}
img { border-radius: 50%;}


header, main, footer {
    margin:8px;
    
    max-width: 1080px;
    /* 1080px (px = pixel is a unit of measure)  */
}

header, footer {
    text-align:justify;
    background-color: #aa0000/* */;
    color: whitesmoke;
}
#author {text-align: center; padding: 10%;}
header img {
    width: 100%; /* picture size */;
    height: auto;
   }

footer {
    clear: both;
    font-size: 18px /* smaller */;
    background-color: cadetblue;
    text-align: center;
    padding: 5%;
    margin-top: 70%;
}