/* Coolors Exported Palette - coolors.co/953250-715470-deedcb-f47b3f-0061aa */

/* HSL */
$color1: hsla(342%, 50%, 39%, 1);
$color2: hsla(302%, 15%, 39%, 1);
$color3: hsla(86%, 49%, 86%, 1);
$color4: hsla(20%, 89%, 60%, 1);
$color5: hsla(206%, 100%, 33%, 1);

/* RGB */
$color1: rgba(149, 50, 80, 1);
$color2: rgba(113, 84, 112, 1);
$color3: rgba(222, 237, 203, 1);
$color4: rgba(244, 123, 63, 1);
$color5: rgba(0, 97, 170, 1);